%COPYRIGHT_LINE%
NEW_LINE
#if WITH_AUTOMATION_TESTS
NEW_LINE
#include "CoreMinimal.h"
#include "Misc/AutomationTest.h"
NEW_LINE
DEFINE_SPEC(FTestClassName, "Category", EAutomationTestFlags::EditorContext %OR% EAutomationTestFlags::ProductFilter %OR% EAutomationTestFlags::HighPriority)
NEW_LINE
// BEGIN_DEFINE_SPEC(FTestClassName, "Category", EAutomationTestFlags::EditorContext %OR% EAutomationTestFlags::ProductFilter %OR% EAutomationTestFlags::HighPriority)
NEW_LINE
// END_DEFINE_SPEC(FTestClassName)
NEW_LINE
void FTestClassName::Define()
{
    Describe("Subcategory", [this]() { It("TestName", [this]() { }); });
}
NEW_LINE
#endif
